*{
    margin:0;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
    background-color: #10243b;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0;
}



ul li{
    display: inline;
    padding: 15px;
    margin-left: 10px;
    text-transform: uppercase;
    vertical-align: middle;
}

li:first-child{
    padding: 0px;
    margin-left: 0px;
}

#hero{
    background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.0), transparent), url(images/fans.jpg) no-repeat center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}

li:nth-child(7){
    padding-right: 90px;
}

.rightnav{
    color: #a3dde8;
}

#herotext{
    color: white;
    vertical-align: center;
    position: relative;
    top: 150px;
    left: 100px;
}

#herotext h1{
    position: relative;
    left: 180px;
    bottom: 150px;
    text-shadow: 2px 2px grey;
}

#herotext p{
    position: relative;
    left: 190px;
    bottom: 150px
}

#exploreheader{
    width: 100vw;
    height: 81px;
    background-color: #10243b;
    text-align: center;
}

#exploresection{
    width: 100vw;
    height: 319px;
}

.explorebox{
    height: 315px;
    width: 25%;
    float: left;
}

#hurricane{
    background-image: url(images/patriots\ plaza.jpg);
    background-position: center;
    background-size: cover;
}

#guidance{
    background-image: url(images/college.png);
    background-position: center;
    background-size: cover;
}

#CCNN{
    background-image: url(images/ccnnlive.png);
    background-position: center;
    background-size: cover;
}

#media{
    background-image: url(images/ccnn\ live.png);
    background-position: center;
    background-size: cover;
}