
body{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
    background-color: #10243b;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin: 0;
}



ul li{
    display: inline;
    padding: 15px;
    margin-left: 10px;
    text-transform: uppercase;
}

li:first-child{
    padding: 0px;
    margin-left: 0px;
}

#hero{
    background-image: url(images/fans.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.rightnav{
    color: #a3dde8;
}

#herotext{
    margin: 0;
    padding: 0;
    color: white;
}